<h1 class="mat-display-2" id="dashboard-header">CPU Case Study</h1>
<h1 class='mat-headline' id="dashboard-subheader">Choose a Role</h1>

<mat-grid-list cols="5">

  <mat-grid-tile>
    <mat-card>
      <img src="../../../assets/images/dashboard/learning.png" class="dashboard-card-img">
      <mat-card-header>
        <mat-card-title> Software User </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <mat-divider [inset]="true"></mat-divider>
        <br><br>
        (Coming Soon)
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card routerLink="../shipping-receiving" class="selectable">
      <img src="../../../assets/images/dashboard/warehouse.png" class="dashboard-card-img">
      <mat-card-header>
        <mat-card-title> Shipping & Receiving </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <mat-divider [inset]="true"></mat-divider>
        <br><br>
        Add New Computer
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card routerLink="../maintenance" class="selectable">
      <img src="../../../assets/images/dashboard/maintenance.png" class="dashboard-card-img">
      <mat-card-header>
        <mat-card-title> Maintenance </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <mat-divider [inset]="true"></mat-divider>
        <br><br>
        View Installed Computers
      </mat-card-content>
      
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card routerLink="../management" class="selectable">
      <img src="../../../assets/images/dashboard/hierarchical-structure.png" class="dashboard-card-img">
      <mat-card-header>
        <mat-card-title> Management </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <mat-divider [inset]="true"></mat-divider>
        <br><br>
        View Installed Software
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <img src="../../../assets/images/dashboard/id-card.png" class="dashboard-card-img"> 
      <mat-card-header>
        <mat-card-title> Faculty & Staff </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <mat-divider [inset]="true"></mat-divider>
        <br><br>
        (Coming Soon)
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>