<mat-toolbar color="primary" class="title-toolbar">Shipping & Receiving</mat-toolbar>


<mat-sidenav-container id="sidenav-container"
  (backdropClick)="sidenav.close()" fullscreen>
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" layout-align="center" disableClose>
    <a routerLink='add-computer' class="side-nav-link mat-tab-link" (click)="sidenav.close()">Add New Computer Form</a>
    <br><br>
    <button mat-button (click)="sidenav.close()" id="close-side-nav-btn">Close</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button id="open-side-nav-btn" (click)="sidenav.open()"> Select Form </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
