mat-form-field {
    width: 320px;
}

mat-vertical-stepper {
    background-color: transparent !important;
    width: 60%;
    margin: 0 auto;
}

.add-comp-form {
    margin-top: 32px;
}

.left-margin {
    margin-left: 16px !important;
}

.stepper-button {
    width: 100%;
    margin-top: 16px;
    display: inline-block;
}