mat-form-field {
    width: 320px;
}

mat-vertical-stepper {
    background-color: transparent !important;
    width: 60%;
    margin: 0 auto;
}

.add-comp-form {
    margin-top: 32px;
}

.left-margin {
    margin-left: 16px !important;
}

.stepper-button {
    width: 100%;
    margin-top: 16px;
    display: inline-block;
}

@media screen and (max-width: 480px) {


    mat-form-field {
        width: 256px;
    }

    mat-vertical-stepper {
        width: 100%;
    }
    
    .left-margin {
        margin-left: 8px !important;
    }

    .mat-headline {
        margin-left: 32px;
        font-size: 16px;
    }

    .form-float-left {
        margin-left: 0;
    }

}
