// IMPORTS
//----------

// ELEMENTS
//----------
body {
    margin: 0;
}

// IDs
//----------
#page-container {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

#under-header-spacer {
    min-height: 64px;
}

// CLASSES
//----------

