<div id="login-background">

<mat-card id="login-card">
<mat-card-header>
  <p class="mat-card-header">Login to your Account</p>
</mat-card-header>
<mat-card-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field required appearance="outline" class="form-input">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required>
    </mat-form-field>

    <mat-form-field required appearance="outline" class="form-input">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" color="primary">Login</button>
    <button mat-raised-button type="button" (click)="clearInput()" class="cancel-btn">Cancel</button>

  </form>
  <br>
  <button class="link-button" (click)="forgotPassword()">Forgot your Password?</button>
</mat-card-content>


</mat-card>


<div class="demo-credentials">
  <button mat-flat-button (click)="toggleCredentials()">{{state}} Credentials</button>
  <div [style.visibility]="isHidden ? 'hidden' : 'visible'">
    <mat-card id="credential-card">
      <div class="main-container">
        <div class="left-container">
          <p class="mat-subheader">User Screen</p>
          <mat-divider [inset]="true"></mat-divider>
          <p class="mat-body"><strong>Username:</strong> SU-User </p>
          <p class="mat-body"><strong>Password:</strong> SecurePass</p>
        </div>
        <div class="right-container">
          <p class="mat-subheader">Admin Screen (In Progress)</p>
          <mat-divider [inset]="true"></mat-divider>
          <p class="mat-body"><strong>Username:</strong> SU-Admin </p>
          <p class="mat-body"><strong>Password:</strong> MoreSecurePass</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
</div>