<p class='mat-headline center form-top-margin'>Installed Computers Report</p>
<mat-divider [inset]="true" class='mat-divider-right-margin'></mat-divider>

<mat-tab-group>
  <mat-tab label="Installed">

  <mat-form-field class="form-top-margin float-left">
    <input matInput (keyup)="applyInstalledFilter($event.target.value)" [(ngModel)]="installedSearchInput" placeholder="Search in any column...">
    <button mat-button *ngIf="installedSearchInput" matSuffix mat-icon-button aria-label="Clear" (click)="clearInstalledSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="form-float-left form-top-margin" required>
      <mat-label>Add Column</mat-label>
      <mat-select (selectionChange)="addInstalledTableColumn($event.value)">
          <mat-option *ngFor="let column of allInstalledColumns" [value]="column">
              {{column}}
          </mat-option>
      </mat-select> 
  </mat-form-field>
  <mat-form-field class="form-float-left form-top-margin" required>
      <mat-label>Remove Column</mat-label>
      <mat-select (selectionChange)="removeInstalledTableColumn($event.value)">
          <mat-option *ngFor="let column of installedTableDisplay" [value]="column">
              {{column}}
          </mat-option>
      </mat-select> 
  </mat-form-field>
  
  <table mat-table class="full-table" #installedSort="matSort" matSort [dataSource]="installedTableData">

    <ng-container [matColumnDef]="column" *ngFor="let column of installedTableDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{column}}
      </th>
      <td mat-row class="mat-cell" *matCellDef="let entry">{{entry[column]}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="installedTableDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: installedTableDisplay;"></tr>
  </table>
  </mat-tab>

  <mat-tab label="Storage">

  <mat-form-field class="form-top-margin float-left">
    <input matInput (keyup)="applyStorageFilter($event.target.value)" [(ngModel)]="storageSearchInput" placeholder="Search in any column...">
    <button mat-button *ngIf="storageSearchInput" matSuffix mat-icon-button aria-label="Clear2" (click)="clearStorageSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="form-float-left form-top-margin" required>
    <mat-label>Add Column</mat-label>
    <mat-select (selectionChange)="addStorageTableColumn($event.value)">
      <mat-option *ngFor="let column of allStorageColumns" [value]="column">
        {{column}}
      </mat-option>
    </mat-select> 
  </mat-form-field>
  <mat-form-field class="form-float-left form-top-margin" required>
    <mat-label>Remove Column</mat-label>
    <mat-select (selectionChange)="removeStorageTableColumn($event.value)">
      <mat-option *ngFor="let column of storageTableDisplay" [value]="column">
        {{column}}
      </mat-option>
    </mat-select> 
  </mat-form-field>

  <table mat-table class="full-table" #storageSort="matSort" matSort [dataSource]="storageTableData">

    <ng-container [matColumnDef]="column" *ngFor="let column of storageTableDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{column}}
      </th>
      <td mat-row class="mat-cell" *matCellDef="let entry">{{entry[column]}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="storageTableDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: storageTableDisplay;"></tr>
  </table>
  </mat-tab>
</mat-tab-group>