<p class='mat-headline center form-top-margin'>Installed Computers Report</p>
<mat-divider [inset]="true" class='mat-divider-right-margin'></mat-divider>

<mat-tab-group>
  <mat-tab label="Installed">

  <mat-form-field class="form-top-margin float-left">
    <input matInput (keyup)="applyInstalledFilter($event.target.value)" [(ngModel)]="installedSearchInput" placeholder="Search in any column...">
    <button mat-button *ngIf="installedSearchInput" matSuffix mat-icon-button aria-label="Clear" (click)="clearInstalledSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <table mat-table class="full-table" #installedSort="matSort" matSort [dataSource]="installedTableData">

    <!-- Building Column -->
    <ng-container matColumnDef="building">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Building </th>
      <td mat-cell *matCellDef="let entry"> {{entry.building}} </td>
    </ng-container>

    <!-- Room Column -->
    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Room </th>
      <td mat-cell *matCellDef="let entry"> {{entry.room}} </td>
    </ng-container>

    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
      <td mat-cell *matCellDef="let entry"> {{entry.brand}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let entry"> {{entry.type}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="installedTableDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: installedTableDisplay;"></tr>
  </table>
  </mat-tab>

  <mat-tab label="Storage">

  <mat-form-field class="form-top-margin float-left">
    <input matInput (keyup)="applyStorageFilter($event.target.value)" [(ngModel)]="storageSearchInput" placeholder="Search in any column...">
    <button mat-button *ngIf="storageSearchInput" matSuffix mat-icon-button aria-label="Clear2" (click)="clearStorageSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <table mat-table class="full-table" #storageSort="matSort" matSort [dataSource]="storageTableData">

    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef> Brand </th>
      <td mat-cell *matCellDef="let entry"> {{entry.brand}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let entry"> {{entry.type}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="storageTableDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: storageTableDisplay;"></tr>
  </table>
  </mat-tab>
</mat-tab-group>